<!doctype html>
<html>

<head>
  <title>
    <%=shopName%>
  </title>
  <link rel="stylesheet" type="text/css" href="index.css" />
</head>

<body>
  <h1>About <%=shopName%>
  </h1>
  <p>We sell all sorts of drinks</p>
  <ul>
    <% for(let i=0; i < shops.length; i++) { %>
      <li>
        <p>Shop Name: <%= shops[i].name %></p>
        <p>Shop Manager: <%= shops[i].manager %></p>
        <p>Shop Address: <%= shops[i].address %></p>
      </li>
      <%}%>
  </ul>
</body>

</html>