<%- include('partials/header') %>

<h2>About <%= shopName %></h2>
<p>We sell all sorts of drinks. Here are our shop locations and managers:</p>

<table class="table">
  <thead>
    <tr>
      <th>Shop</th>
      <th>Manager</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% for (const s of shops) { %>
    <tr>
      <td><%= s.name %></td>
      <td><%= s.manager %></td>
      <td><%= s.address %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<%- include('partials/footer') %>
