<%- include('partials/header') %>

<h2>Survey Response</h2>

<table class="table">
  <tbody>
    <tr>
      <th>First name</th>
      <td><%= survey.first %></td>
    </tr>
    <tr>
      <th>Surname</th>
      <td><%= survey.last %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= survey.email %></td>
    </tr>
    <tr>
      <th>Age</th>
      <td><%= survey.age %></td>
    </tr>
    <tr>
      <th>Category</th>
      <td><%= survey.category %></td>
    </tr>
    <tr>
      <th>Student</th>
      <td><%= survey.isStudent %></td>
    </tr>
  </tbody>
</table>

<%- include('partials/footer') %>
